body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

footer {
  color: white;
}
.parallax-container img {
  max-width:100%;
}

.valign {
  z-index: 9999;
  color: white;
  font-size: 26px;
  padding-left: 10px;
}

nav ul a:hover  {
  background-color: white;
  color: black;
}
